apiVersion: apps/v1
kind: Deployment
metadata:
  name: checkout
  namespace: gomall
  labels:
    app: checkout
spec:
  replicas: 1
  selector:
    matchLabels:
      app: checkout
  template:
    metadata:
      labels:
        app: checkout
    spec:
      containers:
      - name: checkout
        image: buwandocker/checkout:lab2
        ports:
        - containerPort: 8884
          name: grpc
        - containerPort: 9994
          name: metrics
        volumeMounts:
        - name: config
          mountPath: /app/conf/dev
          readOnly: true
      volumes:
      - name: config
        configMap:
          name: checkout-config
