apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: gomall
  labels:
    app: frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - name: frontend
        image: buwandocker/frontend:lab2
        ports:
        - containerPort: 8080
          name: http
        - containerPort: 8090
          name: metrics
        volumeMounts:
        - name: config
          mountPath: /app/conf/dev
          readOnly: true
      volumes:
      - name: config
        configMap:
          name: frontend-config
