apiVersion: apps/v1
kind: Deployment
metadata:
  name: order
  namespace: gomall
  labels:
    app: order
spec:
  replicas: 1
  selector:
    matchLabels:
      app: order
  template:
    metadata:
      labels:
        app: order
    spec:
      containers:
      - name: order
        image: buwandocker/order:lab2
        ports:
        - containerPort: 8885
          name: grpc
        - containerPort: 9995
          name: metrics
        volumeMounts:
        - name: config
          mountPath: /app/conf/dev
          readOnly: true
      volumes:
      - name: config
        configMap:
          name: order-config
